@import '../../../../globals.scss';

.header {
  display: block;
  background-color: $bgLight;
  height: $header-height;
  border-bottom: 1px solid $bgDarker;
  // box-shadow: $box-shadow;
  // z-index: 10;
  // position: relative;
}
