// Theme Colors
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$primary: rgba(0,122,204,1);
$secondary: rgba(22,130,93,1);
$alert: rgba(233,63,59,1);

$bgDarker: rgba(30,30,30,1);
$bgDark: rgba(37,37,38,1);
$bgLight: rgba(51,51,51,1);
$bgLighter: rgba(60,60,60,1);
$bgLightest: rgba(70,70,70,1);

$text: rgba(204,204,204,1);
$textSecondary: rgba(133,133,133,1);


// 
$header-height: 48px;

//
$box-shadow: 0 1px 1px 1px transparentize(darken($black, 10), 0.5);

